<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSelected(1) }">
      <a href ng-click="tab.selectTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSelected(2) }">
      <a href ng-click="tab.selectTab(2)">Also Purchased</a>
    </li>
    <li ng-class="{ active:tab.isSelected(3) }">
      <a href ng-click="tab.selectTab(3)">Reviews</a>
    </li>
    <li ng-class="{ active:tab.isSelected(4) }">
      <a href ng-click="tab.selectTab(4)">Purchase?</a>
    </li>
  </ul>
  <div ng-show="tab.isSelected(1)">
    <h4>Description</h4>
    <blockquote>{{product.description}}</blockquote>
  </div>
  <div ng-show="tab.isSelected(2)">
    <h4 ng-show="product.alsoPurchasedItems.length">Customers also Purchased:</h4>
    <ul>
      <li ng-show="product.alsoPurchasedItems.length" ng-repeat="alsoPurchasedItem in product.alsoPurchasedItems">
        {{alsoPurchasedItem}}
      </li>
    </ul>
  </div>
  <div ng-show="tab.isSelected(3)">
    <h4>Reviews</h4>

    <blockquote ng-repeat="review in product.reviews">
      <b>Stars: {{review.stars}}</b>
      {{review.body}}<br />
      <cite>- {{review.author}}</cite>
    </blockquote>

    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <blockquote>
      <b>Stars: {{reviewCtrl.review.stars}}</b>
      {{reviewCtrl.review.body}}<br />
      <cite>- {{reviewCtrl.review.author}}</cite>
    </blockquote>
    <select ng-model="reviewCtrl.review.stars" required>
      <option value="1">1 star</option>
      <option value="2">2 stars</option>
      <option value="3">3 stars</option>
      <option value="4">4 stars</option>
      <option value="5">5 stars</option>
    </select><br />
    <textarea ng-model="reviewCtrl.review.body" required>
    </textarea><br />
    <label>- </label>
    <input ng-model="reviewCtrl.review.author" type="email" required />
    <div>reviewForm is {{reviewForm.$valid}}</div>
    <input type="submit" value="Submit" />
  </form>
</div>
<div ng-show="tab.isSelected(4)">
  <h4>Price</h4>
  <blockquote>
    {{product.price | currency}}
    <button ng-show="product.canPurchase"> Add to Cart </button>
    <h2 ng-hide="product.canPurchase">Out of Stock, Sorry!</h2>
  </blockquote>
</div>
</section>
